.text {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-align: center;
    text-shadow: 0 0 2px var(--color-white);
    color: var(--color-white-green);
    -webkit-text-stroke-color: var(--color-white-green);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: transparent;
}
/*добавил иконку*/
.loolu_icon{
    border-radius: 50%;
    animation: scaleAnimation 3s infinite;
    margin: 25px 0 0 0;
}
/*анимация иконки*/
@keyframes scaleAnimation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }