:root {
  --bg: #212123;
  --dark: #191919;
  --dark-sea: #576067;
  --grey: #b8b8b8;
  --white: #fff;
  /* --violet: #8b57c6; */
  --violet: #B1E990;
  /* --violet-dark: #6c3eb8; */
  --violet-dark: #00B57D;
  --light: #f6f6f7;
  --sea: #616e74;
}
